* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --content-primary: #FFFFFF;
    --content-secondary: #c7c9cc;
    --content-tertiary: #d9d9d9;
    --content-brand: #c58de7;
    --color-reverse: #030203;

    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222E;
    --background-brand: #c58de7;
    --background-gray: #3d3d3d;

    --accent-pink: #d586e0;
    --accent-blue: #91a1fa;
    --accent-green: #77c0af;
    --accent-lime: #d1dc97;
    --accent-red: #e9a9b3;

    --gradient-border: linear-gradient(91.26deg, #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%);
    --gradient-background: linear-gradient(91.26deg, #D586E0 0%, #91A1FA 98.93%);
    --gradient-content: linear-gradient(90deg, #C7C9CC 0%, #3D3D3D 100%);

    --ff-sora: "Sora", sans-serif;
    --ff-robotoMono: "Roboto Mono", monospace;
    --ff-robotoFlex: "Roboto Flex", sans-serif;
    --ff-inter: "Inter", sans-serif;

    --fs-base: 1rem;
    --fs-display-l: 4.5rem;
    --fs-display-m: 2.5rem;
    --fs-display-s: 2rem;
    --fs-p-m: .875rem;
    --fs-p-s: .75rem;
    --fs-label-m: 1.25rem;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semiBold: 600;
    --fw-bold: 700;
    --fw-extraBold: 800;
}


html {
    font: 400 var(--fs-base)/1.5 var(--ff-robotoFlex);
    color: var(--content-primary);
}

body {
    background: var(--background-primary) url("../images/Linha.png");
}

.container {
    --max-width: 19.9375rem;
    --padding-block: 2.75rem;
    width: var(--max-width);
    margin-inline: auto;
    padding-block: var(--padding-block);

    & .logomarca {
        --justify-content: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: var(--justify-content);
        gap: 0.6875rem;

        & span {
            text-transform: uppercase;
            font: var(--fw-extraBold) 1.5rem/1.3 var(--ff-sora);
            letter-spacing: -0.04em;
            color: var(--content-primary);
        }
    }

    & .sections {
        margin-top: 2.875rem;
        display: grid;
        grid-template-areas:
        "title"
        "raffle"
        "faq"
        ;

        & .section-title {
            grid-area: title;
            align-self: start;

            & p {
                background: var(--gradient-content);
                -webkit-background-clip: text;
                background-clip: text;
                font: var(--fw-bold) var(--fs-base)/1.5 var(--ff-robotoMono);
                text-transform: uppercase;
                color: transparent;
            }

            & h1 {
                font: var(--fw-extraBold) var(--fs-display-m)/1.3 var(--ff-sora);
                letter-spacing: -0.04em;
                text-transform: uppercase;
                margin-top: .5rem;
            }
        }
        & .section-raffle {
            grid-area: raffle;
            margin-top: 2.625rem;

            & h2 {
                font: var(--fw-bold) var(--fs-label-m)/1.5 var(--ff-robotoFlex);
                text-transform: uppercase;
            }

            & p {
                font: var(--fw-medium) var(--fs-p-s)/1.5 var(--ff-robotoFlex);
                color: var(--content-secondary);
            }

            & form {
               & fieldset {
                border: none;
                display: flex;
                gap: .75rem;
                margin-top: 2.5rem;

                & .input {
                    text-align: center;
                    width: 5.375rem;

                    & label {
                        text-transform: uppercase;
                        font: var(--fw-bold) var(--fs-base)/1.5 var(--ff-robotoFlex);
                        color: var(--content-secondary);
                    }

                    & .input-wrapper {
                        margin-top: .5rem;
                        width: 100%;
                        height: 3.5rem;
                        border-radius: .5rem;
                        overflow: hidden;
                        z-index: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            z-index: -2;
                            background-size: 200% 100%;
                            background-image: linear-gradient(
                                90deg,
                                #77C0AF, #D1DC97, #E9A9B3, #D586E0, #91A1FA,
                                #77C0AF, #D1DC97, #E9A9B3, #D586E0, #91A1FA
                            );
                            animation: border-infinito 2s infinite linear;
                            opacity: 0;
                            transition: opacity 0.3s;
                        }
                        & input {
                            width: calc(100% - 4px); /* Desconto da espessura da borda (2px de cada lado) */
                            height: calc(100% - 4px);
                            background: var(--background-secondary);
                            border: 1px solid var(--background-secondary);
                            border-radius: inherit;
                            text-align: center;
                            padding: .25rem .5rem;
    
                            font: var(--fw-bold) var(--fs-display-s)/1.5 var(--ff-sora);
                            color: var(--content-primary);
                            outline: none;

                            position: relative;
                             z-index: -1;
                        }

                        &:has(input:focus)::before, &:hover::before {
                            opacity: 1;
                        }
                    }
                }
               }

               & .input-checkbox {
                margin-top: 1.25rem;
                display: flex;
                gap: .5rem;
                align-items: center;
                position: relative;

                & .checkbox {
                    width: 1.875rem;
                    height: 1.25rem;
                    border-radius: 1rem;
                    background: var(--content-tertiary);
                    position: relative;
                    cursor: pointer;

                    &::before {
                        content: "";
                        position: absolute;
                        width: .875rem;
                        height: .875rem;
                        background: var(--content-primary);
                        box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
                        border-radius: 50%;
                        left: 3px;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: left 500ms linear;
                    }
                    & input[type="checkbox"] {
                        all: unset;
                        position: absolute;
                        inset: 0;
                    }
                }
                &:has(input:checked) {
                    & .checkbox {
                        background: var(--gradient-background);
                        &::before {
                            left: 13px;
                        }
                    }
                }

                & label {
                    font: var(--fw-regular) var(--fs-p-s)/1.5 var(--ff-inter);
                }
               }

                & button {
                    margin-top: 2.5rem;
                    width: 100%;
                    height: 3.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;

                    background: var(--background-tertiary);
                    cursor: pointer;
                    border-radius: .5rem;
                    border: none;
                    
                    text-transform: uppercase;
                    font: var(--fw-bold) var(--fs-base)/1.5 var(--ff-robotoFlex);
                    color: var(--content-primary);

                    z-index: 0;
                    overflow: hidden;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        inset: -2px;
                        z-index: -2;
                        /* O segredo: o tamanho tem que estar aqui e não ser sobrescrito */
                        background-size: 200% 100%; 
                        background-image: linear-gradient(
                            90deg,
                            #77C0AF, #D1DC97, #E9A9B3, #D586E0, #91A1FA,
                            #77C0AF, #D1DC97, #E9A9B3, #D586E0, #91A1FA
                        );
                        animation: border-infinito 2s infinite linear;
                        /* Deixamos invisível por padrão e mostramos no hover */
                        opacity: 0;
                        transition: opacity 0.3s;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        inset: 2px;
                        background: var(--background-tertiary);
                        z-index: -1;
                        border-radius: inherit;
                        transition: background 0.3s;
                    }

                    &:hover {
                        &::before {
                            opacity: 1; /* Liga o marquee */
                        }
                        &::after {
                            background: var(--background-secondary);
                        }
                    }
                }
            }
        }
        & .section-faq {
            grid-area: faq;
            align-self: start;
            margin-top: 5rem;
            display: grid;
            gap: 2.25rem;
            
            & article {
                width: 100%;
                display: flex;
                align-items: start;
                gap: .5rem;

                & .content {
                    & h3 {
                        font: var(--fw-medium) var(--fs-p-m)/1.5 var(--ff-robotoFlex);
                        color: var(--content-brand);
                    }

                    & p {
                        font: var(--fw-medium) var(--fs-p-s)/1.5 var(--ff-robotoFlex);
                        color: var(--content-secondary);
                    }
                }
            }
        }

    }
}
@keyframes border-infinito {
    0% {
        background-position: 0% 50%
    }
    100% {
        background-position: 100% 50%;
    }
}

@media (width >= 68.625em) {
    .container {
        --max-width: 68.625rem;
        --padding-block: 4.75rem 9.5625rem;

        & .logomarca {
           --justify-content: flex-start;
        }

        & .sections {
            margin-top: 5.5625rem;
            grid-template-areas:
            "title raffle"
            "faq raffle"
            ;
            grid-template-columns: 1fr 30.125rem;
            grid-template-rows: auto 1fr;
            column-gap: 6.75rem;
            align-items: start;

            & .section-title {
                & h1 {
                    font-size: 4.5rem;
                    margin-top: .75rem;
                }
            }

            & .section-raffle {
                align-self: center;
                margin-top: 0;
            }

            & .section-faq {
                margin-top: 2.375rem;
            }
        }
    }
}